<div class="bgofbody">

<h2>Show Patient Information</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>P.ID</th>
            <th>Name</th>
            <th>Visited Doctor</th>
            <th>Date Of Visit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.visitedDoctor}}</td>
            <td>{{patient.dateOfVisit}}</td>
        </tr>
    </tbody>
</table>

</div>