<div class="bodyofcr">
<div class="col-md-6 offset-md-3">
<h3>Create Doctor Information</h3> <br>
<form (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label >Doctor Name</label>
        <input type="text" class="form-control" id="name"
        [(ngModel)] = "doctor.name" name="name">
    </div>

    <div class="form-group">
        <label >Doctor Age</label>
        <input type="number" class="form-control" id="age"
        [(ngModel)] = "doctor.age" name="age">
    </div>

    <div class="form-group">
        <label >Doctor Gender</label>
        <input type="text" class="form-control" id="gender"
        [(ngModel)] = "doctor.gender" name="gender">
    </div>

    <div class="form-group">
        <label >Doctor Specialisation Feild</label>
        <input type="text" class="form-control" id="specialist_feild"
        [(ngModel)] = "doctor.specialist_feild" name="specialist_feild">
    </div>
    <br>
    <button class="btn btn-success" type="submit">Submit</button>
    
</form>
</div>
<br><br><br><br><br><br><br><br><br>
</div>