<div class="bodyofcr">
<div class="col-md-6 offset-md-3">
    <h3>Create Patient Information</h3> <br>
    <form (ngSubmit)="onSubmit()">
       
        <div class="form-group">
            <label >Patient Name</label>
            <input type="text" class="form-control" id="name"
            [(ngModel)] = "patient.name" name="name">
        </div>

        <div class="form-group">
            <label >Date of Visit</label>
            <input type="text" class="form-control" id="dateOfVisit"
            [(ngModel)] = "patient.dateOfVisit" name="dateOfVisit">
        </div>

        <div class="form-group">
            <label >Visited Doctor</label>
            <input type="text" class="form-control" id="visitedDoctor"
            [(ngModel)] = "patient.visitedDoctor" name="visitedDoctor">
        </div>

        
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
       
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>